.customCalendar {
	background-color: #081826;
	border-radius: 15px;
}

.fc-theme-bootstrap5 .fc-scrollgrid {
	border-right-width: 0;
	border-bottom-width: 0;
	border-radius: 15px;
}

.fc-theme-bootstrap5-shaded {
	background-color: #09070d;
}

.fc .fc-list-event:hover td {
	background-color: #1d4259;
}
