.backgroundHelper {
	background-color: #081826;
}

.lightBlueBackground {
	background-color: #1d4259;
}

.synopsisContainer {
	background-color: #081826;
	border-radius: 15px;
}

.customButton {
	background-color: #f29b30;
	border-color: #f29b30;
}
